<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<script type="text/javascript" src="http://127.0.0.1:6969/webpack-dev-server.js"></script>
<script type="text/javascript" src="http://127.0.0.1:6969/main.js"></script>
<!-- <script type="text/javascript" src="http://127.0.0.1:6969/hotMiddleware.js"></script> -->

</body>
</html>
